.default_card {
    min-height: 100px;
    padding: 140px;

    .select_certification_message {
        padding: 10px;
        text-align: center;
        color: #666;
    }
}

.certifications {
    padding: 0;
    margin: 0;

    .certifications_filter {
        padding: 0;
        margin: 0;
    }

    .certifications_editPanel {
        padding: 0;
        margin: 0;
    }
 }