<div class="row">
  <app-pagination></app-pagination>
</div>
<div class="certifications_list">

    <md-card-content>
      <div class="row">
        <div class="certifications_list_noItems" *ngIf="certifications && certifications.length == 0">
          <h4>No Items</h4>
        </div>
        <div class="certifications_list_items" *ngIf="certifications && certifications.length > 0">
          <div class="certifications_list_item"  [ngClass]="{'certifications_list_item--selected': mode =='EDIT' && selectedCertification && item.publicId == selectedCertification.publicId}" 
                (click)="onCertificationSelected(item)" 
                *ngFor="let item of certifications">
            <div class="certifications_list_item_left">
              <span class="certifications_list_item_details">{{item.name}}</span>
              <span class="certifications_list_item_details">{{item.publicId}}</span>
            </div>
            <!--<div class="certifications_list_item_right">
              <span class="certifications_list_item_details">Facility</span>
              <span class="certifications_list_item_details">ProductRef</span>
            </div>-->
          </div>
        </div>
      </div>
      
    </md-card-content>
    <!--<md-card-actions>
        <md-paginator  #paginator
                      [length]="CertificationsData.data.length"
                      [pageIndex]="0"
                      [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 25, 100]">
        </md-paginator>
    </md-card-actions>-->
</div>