
<div class="certifications">
    <div class="certifications_aside col-md-3">
        <div class="nav-side-menu">
            <div class="brand">TCY Back Office</div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                <div class="menu-list">    
                    <ul id="menu-content" class="menu-content collapse out">
                        <li>
                        <a href="#">
                        <i class="fa fa-dashboard fa-lg"></i> Dashboard
                        </a>
                        </li>

                        <li  data-toggle="collapse" data-target="#certifications_tool">
                        <a><i class="fa fa-gift fa-lg"></i> CERTIFICATION TOOL <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="certifications_tool">
                            <li [ngClass]="isCurrent('certifications-tool')"><a [routerLink]="['/certifications-tool']">Certifications</a></li>
                            <li [ngClass]="isCurrent('certifications-tool/categories')"><a [routerLink]="['/certifications-tool/categories']">Certification Categories</a></li>
                            <li [ngClass]="isCurrent('certifications-tool/activities')"><a [routerLink]="['/certifications-tool/activities']">Activities</a></li>
                            <li [ngClass]="isCurrent('certifications-tool/countries')"><a [routerLink]="['/certifications-tool/countries']">Countries</a></li>
                        </ul>

                        <li  data-toggle="collapse" data-target="#rawmaterials_tool">
                        <a href="#"><i class="fa fa-gift fa-lg"></i> RAW MATERIAL TOOL <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="rawmaterials_tool">
                            <li class="active"><a href="#">Raw materials</a></li>
                            <li><a href="#">Raw material categories</a></li>
                        </ul>
                    </ul>
                </div>
        </div>
    </div>

    <div class=" certifications_content col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>