<div class="certification">
  <md-card-header class="certification_menu" *ngIf="certification">
    <button class="pull-right" md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item (click)="onActivateEditMode()">
        <md-icon>edit</md-icon>
        <span>Activate Edit</span>
      </button>
      <button md-menu-item>
        <md-icon>delete</md-icon>
        <span>Delete</span>
      </button>
    </md-menu>
  </md-card-header>
  <md-card-content class="certification_content">
    <form [formGroup]='certificationFormGroup'>
      <table class="formFullWidth">
        <tr>
          <td>
            <md-input-container floatPlaceholder="true">
              <input mdInput 
                [(ngModel)]="publicId"
                formControlName="publicId"
                [disabled]="!editModeActivated"
                placeholder="Public ID"/>
            </md-input-container>
          </td>
          <td>
            <md-input-container floatPlaceholder="true">
                <input mdInput
                [(ngModel)]="name"
                [disabled]="certification && !editModeActivated"
                formControlName="name"
                placeholder="Certification Name" >
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container floatPlaceholder="true">
                <input mdInput
                [(ngModel)]="languageEn"
                formControlName="languageEn"
                [disabled]="certification && !editModeActivated"
                placeholder="English Term" >
            </md-input-container>
          </td>
          <td>
            <md-input-container floatPlaceholder="true">
                <input mdInput
                [(ngModel)]="languageFr"
                [disabled]="certification && !editModeActivated"
                formControlName="languageFr"
                placeholder="French Term" >
            </md-input-container>
          </td>
          <td>
            <md-input-container floatPlaceholder="true">
                <input mdInput
                [(ngModel)]="languageEs"
                [disabled]="certification && !editModeActivated"
                formControlName="languageEs"
                placeholder="Spanish Term" >
            </md-input-container>
          </td>
          <td>
            <md-input-container floatPlaceholder="true">
                <input mdInput
                [(ngModel)]="languageZh"
                [disabled]="certification && !editModeActivated"
                formControlName="languageZh"
                placeholder="Chineese Term" >
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td colspan="2">
              <label>Entity Types:</label>
              <md-checkbox class="sides-margin"
                formControlName="facilityEntityType"
                [(ngModel)]="facilityEntityType"
                color="primary">Facility</md-checkbox>
              <md-checkbox class="sides-margin"
                formControlName="productEntityType"
                [(ngModel)]="productEntityType"
                color="primary">Product Reference</md-checkbox>
          </td>
        </tr>
      </table>
      <div class="certification_content_links">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <app-certification-links-panel #categoriesPanel [panelDetails]='categoriesPanelDetails'></app-certification-links-panel>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <app-certification-links-panel #activitiesPanel [panelDetails]='activitiesPanelDetails'></app-certification-links-panel>     
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <app-certification-links-panel #countriesPanel [panelDetails]='countriesPanelDetails'></app-certification-links-panel>          
        </div>
      </div>
    </form>
  </md-card-content>
  <md-card-actions class="certification_actions pull-right">
    <a md-raised-button color="accent" [routerLink]="['/']">Cancel</a>
    <button md-raised-button color="primary" [disabled]="certification && ! editModeActivated" (click)="closeSideNavigation()">Confirm</button>
  </md-card-actions>
</div>